header div {
    display: inline-block;
}
.left .fa-youtube {
    margin-left: 20px;
}

.left span {
    font-weight: bold;
}

.center {
    margin-left: 200px;
}

.chegara {
    border: 1px solid #ccc;
    padding: 5px;
}

input {
    border: none;
    width: 400px;
}

input:focus {
    outline: none;
}

.lupacha {
    padding: 5px 20px;
    margin-left: -4px;
}

.right {
    margin-left: 210px;
}

.right i {
    margin: 10px;
}

.displayinline,
.display,
.block,
.inline,
.html,
.displayinlineblock {
    display: inline-block;
    margin: 5px;
}

.stayle {
    border-radius: 50%;
    margin-top: 15px;
}

.qator,
.qatorr {
    display: inline-block;
    margin-right: 4px;
    

    
}

.de {
    margin-bottom: 0;
    text-decoration: none;
    color: black;
}




.kalit {
    margin-top: 0;
}


.class {
    display: inline-block;
    float: right;

}

.button {
    background-color: red;
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
    border: none;
    font-weight: bold;
  
}

.classs {
    text-decoration: none;
}

main {
    width: 850px;
    background-color: bisque;
    float: left;
}

aside {
    width: 470px;
    background-color:aquamarine;
    height: 300px;
    float: right;
}

.p,
.c {
    display: inline-block;
}

.img {
    border-radius: 50px;
    margin-bottom: 40px;
}


* {
    border: 1px solid blue;
}

.pp {
    margin-bottom: 0;
}

.cc {
    margin-top: 0;
    margin-bottom: 0;
}
















