header div {
    display: inline-block;
}
.left .fa-youtube {
    margin-left: 20px;
}

.left span {
    font-weight: bold;
}

.center {
    margin-left: 200px;
}

.chegara {
    border: 1px solid #ccc;
    padding: 5px;
}

input {
    border: none;
    width: 400px;
}

input:focus {
    outline: none;
}

.lupacha {
    padding: 5px 20px;
    margin-left: -4px;
}

.right {
    margin-left: 210px;
}

.right i {
    margin: 10px;
}

.displayinline,
.display,
.block,
.inline,
.html,
.displayinlineblock {
    display: inline-block;
    margin: 5px;
}

.stayle {
    border-radius: 50%;
    margin-top: 15px;
}

.qator,
.qatorr {
    display: inline-block;
    margin-right: 4px;
    

    
}

.de {
    margin-bottom: 0;
    text-decoration: none;
    color: black;
}




.kalit {
    margin-top: 0;
}


.class {
    display: inline-block;
    float: right;

}

.button {
    background-color: red;
    color: white;
    text-transform: uppercase;
    padding: 5px 15px;
    border: none;
    font-weight: bold;
  
}

.classs {
    text-decoration: none;
}

main {
    width: 850px;
    background-color: bisque;
    float: left;
}

aside {
    width: 475px;
    background-color:aquamarine; */
    height: 300px; 
    float: right;
}

.p,
.c {
    display: inline-block;
}

.img {
    border-radius: 50px;
    margin-bottom: 40px;
}


/* * {
    border: 1px solid blue;
} */

.pp {
    margin-bottom: 0;
}

.cc {
    margin-top: 0;
    margin-bottom: 0;
}
/* 
.yonmayon {
    display: inline-block;
    
} */

.komputer {
    float: left;
    width: 100px;
}

.computer {
    float: right;
    width: 366px;
    font-weight: 900;
    
}

.futbol {
    float: left;
    width: 100px;
}

.salom {
    float: right;
    width: 366px;
    font-weight: 900;
}

.asliddin {
    clear: both;
}

.kusko {
    float: left;
    width: 100px;
}

.soat {
    float: right;
    width: 366px;
    font-weight: 900;
}

.rasm {
    float: left;
    width: 100px;
}

.yozuv {
    float: right;
    width: 366px;
    font-weight: 900;
}

.nima {
    float: left;
    width: 100px;
}

.imperator {
    float: right;
    width: 366px;
    font-weight: 900;
}

.kronk {
    float: left;
    width: 100px;
}

.saroy {
    float: right;
    width: 366px;
    font-weight: 900;
}

footer {
    clear: both;
    background-color: lavender;  
}

.f {
    color: black;
    text-decoration: none;
    margin: 5px;
    
}

.buton {
    color: gray;
    margin: 5px; 
  
}


















